form {
    justify-content: center;
    margin-left: 50px;
    padding: 20px;
    border-radius: 50px;
    font-size: 30px;
    background-color: aqua;
  }
  
  h1.formulario {
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: brown;}
