@mixin anclas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-principal;
    padding: 20px;
    
}

header {
    @include anclas;

  }
  .navbar-nav { 
    font-size: $tam-fuente - 5px;
    background-color: $color-principal;
  

  
  a {
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    padding: 15px;
    font-size: $tam-fuente;
    color: blueviolet;
    &:hover {
        background-color: aqua;
  }
} }
