

 img.logo {
    width: 100px;
  }
  
  div.img_turismo {
    display: flex;
    justify-content: center;
  }
  
  img.img_turismo {
    border-radius: 50px;
  }
  
  div.img_argentina {
    display: flex;
    justify-content: center;
  }
  
  img.img_argentina {
    border-radius: 100px;
    height: 500px;
  }
  
  div.img_turismo {
    display: flex;
    justify-content: center;
  }
  
  img.img_galeria {
    border-radius: 100px;
    height: 500px;
  }
  div.img_ofertas {
    display: flex;
    justify-content: center;
    width: 2000px;
    height: 300px;
  }